  * {padding: 0;
margin: 0;
}
header {border-bottom: 1px solid gray;
    display : flex;
    flex-direction : row;
    justify-content : space-between;
    align-items : center;
height: 64px;
padding-left: 32px;
padding-right: 32px;}
#logo {font-size: 28px;
text-decoration: none;
color: black;
}

#navlist {list-style: none;
display: flex;
flex-direction: row;
gap: 28px;
}

.navlink {text-decoration: none;
color: gray;
}

#section1 {display : flex;
    flex-direction : row;
    justify-content : space-between;
    align-items : center;
padding-left: 32px;}

img {width: 50%;
padding-top: 16px;
padding-bottom: 16px;
padding-left: 16px;
padding-right: 64px;
}

h1 {font-size: 32px;
margin-bottom: 24px;
;}

p {font-size: 16px;

}
#section1link {margin-top: 16px;}

.primarylink {text-decoration: none;
background-color: rgb(39, 38, 38);
color: white;
display: inline-block;
padding-top: 6px;
padding-bottom: 6px;
padding-right: 16px;
padding-left: 16px;
border-radius: 8px;
}

.secondarylink {text-decoration: none;
margin-left: 6px;
display: inline-block;
border: 1px solid black;
background-color: white;
color: rgb(51, 49, 49);
padding-top: 6px;
padding-bottom: 6px;
padding-left: 16px;
padding-right: 16px;
border-radius: 8px;
}

#section2 {border-top: 1px solid rgb(190, 177, 177);
padding-top: 32px;
padding-left: 64px;
padding-right: 64px;
background-color: rgb(233, 236, 239)}

h2 {font-size: 23px;
margin-bottom: 8px;
}

#section2paragraph {font-size: 16px;
}